body {
  background-color: #f8e5de;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ad3c3c;
  width: 50%;
  margin: 20px auto 40px;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: cursive;
  font-weight: 100;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

dt {
  font-weight: bold;
  background-color: #ad3c3c2f;
  text-align: left;
  padding-left: 4px;
}

.ingredients {
  text-align: left;
}  

ol {
  text-align: justify;
}  

.attribution {
  font-family: 'Courier New', Courier, monospace;
  font-size: 9px;
}

.choice {
  list-style-type: none;
}

button {
  background-color: #ad3c3c5f;
  color: #f8e5de;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 10px 0 0 auto;
  padding: 5px;
}
